@import url(./reset.css);

#wrap {width: 100%;height:700px;}

#wrap #header {width: 100%;height: 100px;background-color: #e0e0e0;}
#wrap #header .container {width: 1200px;height: 100px;margin: auto;background-color: #fff;position: relative;}
#wrap #header .container .sub-bg {position: absolute;z-index: 1;top:100px;left: 0;height: 160px;background-color: #333;width: 100%;display: none;}
#wrap #header .container .wrap {width: 1200px;height: 100px;display: flex;position: relative;z-index: 2;}
#wrap #header .container .wrap .logo {width: 200px;height: 100px;}
#wrap #header .container .wrap .logo > a {display: block;width: 200px;height: 40px;margin: 30px 0;}
#wrap #header .container .wrap .logo > a > img {width: 100%;}
#wrap #header .container .wrap #nav {width: 1000px;height: 100px;}
#wrap #header .container .wrap #nav > ul {width: 700px;height: 50px;display: flex;margin: 50px 25px 0 auto;}
#wrap #header .container .wrap #nav > ul > li {width: 25%;height: 50px; border: 1px solid #ccc;}
#wrap #header .container .wrap #nav > ul > li > a {display: block;width: 100%;height: 100%;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600;transition: all .3s;}
#wrap #header .container .wrap #nav > ul > li > a:hover {color: #fff;background-color: #333;}
#wrap #header .container .wrap #nav > ul > li > a.on {color: #fff;background-color: #333;}
#wrap #header .container .wrap #nav > ul > li .sub {width: 100%;display: none;}
#wrap #header .container .wrap #nav > ul > li .sub > ul{width: 100%;}
#wrap #header .container .wrap #nav > ul > li .sub > ul > li {width: 100%;}
#wrap #header .container .wrap #nav > ul > li .sub > ul > li > a {display: block;font-size: 13px;font-weight: 600;line-height: 38px;text-align:center;transition: all .3s;color: #fff;}
#wrap #header .container .wrap #nav > ul > li .sub > ul > li > a:hover {color: #333;background-color: #fff;}


#wrap #main {width: 100%;height: 500px;}
#wrap #main #section1 .container {width: 1200px;height: 300px;margin:auto}
#wrap #main #section1 .container .slide-container {width: 100%;position: relative;}
#wrap #main #section1 .container .slide-container .slide-view {width: 100%;overflow: hidden;position: relative;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {width: 500%;height: 300px;display: flex;margin-left:-100%;position: relative;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {width: 100%;height: 100%;background:url() no-repeat 50% 50%;background-size: cover;display: flex;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../img/img1.jpg)}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../img/img2.jpg)}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../img/img3.jpg)}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide p {display: inline;font-size: 33px;font-weight: 700;font-style: italic;color: #fff;user-select: none;margin: auto 10px 10px auto;}


#wrap #main #section2 .container {width: 1200px;height: 200px;margin: auto;display: flex;}
#wrap #main #section2 .container .left {width: 400px;height: 100%;}
#wrap #main #section2 .container .left .gap {width: 100%;height: 100%;}
#wrap #main #section2 .container .left .gap .notice-btn {width: 100px;height: 35px;border: 1px solid #ccc;border-bottom: 0;background-color: #fff;margin: 1px 0 0 15px;position: relative;z-index: 2;top: 1px}
#wrap #main #section2 .container .left .gap .notice-box {width: 100%;height: 165px;border: 1px solid #ccc;position: relative;z-index: 1;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap {padding:20px 10px;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul{width: 100%;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li{width: 100%;border-bottom: 1px solid #ccc;padding: 0 100px 0 15px;display: flex;line-height: 30px;position: relative;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li a:hover {color:#39c}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li a::before {content: '';display: block;width: 4px;height: 4px;background-color: #000;position: absolute;left:5px;top: 50%;margin-top: -3px;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li span{display: block;position: absolute;right: 15px;font-size: 15px;color: rgb(99, 99, 99);}


#wrap #main #section2 .container .center {width: 400px;height: 200px;}
#wrap #main #section2 .container .center .gap {width: 100%;height: 100%;}
#wrap #main #section2 .container .center .gap .gallery-btn {width: 100px;height: 35px;border: 1px solid #ccc;border-bottom: 0;background-color: #fff;margin: 1px 0 0 15px;position: relative;z-index: 2;top: 1px} 
#wrap #main #section2 .container .center .gap .gallery-box {width: 100%;height: 165px;border: 1px solid #ccc;position: relative;z-index: 1;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap {width: 100%;height: 100%;padding: 20px 10px;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul {width: 100%; display: flex;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li {width: 33.333%;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li .img-gap {padding: 0 5px;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li .img-gap .img-bg {width: 100%;height:123px;background: url() no-repeat 50% 50%;background-size: cover;border: 1px solid #ccc;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(1) .img-gap .img-bg {background-image: url(../img/icon1.jpg);}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(2) .img-gap .img-bg {background-image: url(../img/icon2.jpg);}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(3) .img-gap .img-bg {background-image: url(../img/icon3.jpg);}

#wrap #main #section2 .container .right {width: 400px;height: 200px;}
#wrap #main #section2 .container .right .gap {width: 100%;height: 100%;}
#wrap #main #section2 .container .right .gap .banner-box {width: 100%;height: 100%;}
#wrap #main #section2 .container .right .gap .banner-box .title {width: 100%;height: 35px;border: 1px solid #ccc;background-color: #fff;position: relative;z-index: 2;}
#wrap #main #section2 .container .right .gap .banner-box .title h2 {font-size:  20px;font-weight: 600;text-align: center;line-height: 30px;}
#wrap #main #section2 .container .right .gap .banner-box .img-box {width: 100%;height: 165px;border: 1px solid #ccc;position: relative;z-index: 1;}
#wrap #main #section2 .container .right .gap .banner-box .img-box ul {width: 100%;height: 100%;}
#wrap #main #section2 .container .right .gap .banner-box .img-box ul li {width: 100%;height: 50%;}
#wrap #main #section2 .container .right .gap .banner-box .img-box ul li a {width: 100%;height: 100%;display:block;font-size: 17px;font-weight: 600;text-align: center;border: 1px solid #ccc;line-height: 70px}



#wrap #footer {width: 100%;height: 100px;background-color: #e0e0e0;}
#wrap #footer .container {width: 1200px;height: 100px;margin:auto;background-color: #fff;display: flex;}

#wrap #footer .container .left{width: 1000px;height: 100px;}
#wrap #footer .container .left .top {width: 100%;height: 50px;text-align: center;line-height: 50px;}
#wrap #footer .container .left .top span {padding: 0 5px;}
#wrap #footer .container .left .top span a {font-size: 15px;color: #000;}
#wrap #footer .container .left .top span a:hover {color: #39c;}

#wrap #footer .container .left .bottom {width: 100%;height: 50px;} 
#wrap #footer .container .left .bottom p {font-size: 13px;color: #a0a0a0;text-align: center;line-height: 50px} 


#wrap #footer .container .right {width: 200px;height: 100px;background-color: #39c;text-align: center;line-height: 100px;font-size: 20px;}

#wrap #modal {position: fixed; top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,.5); z-index: 4;display: none;}
#wrap #modal .container {width: 700px;height: 400px;background: #fff;position: relative;top:200px;left:37%;}
#wrap #modal .container h1 {width: 100%;font-size: 30px;line-height: 50px;border-bottom: 1px solid #000;padding-left: 20px;}
#wrap #modal .container p  {width: 100%;font-size: 20px;line-height: 30px;padding: 20px 30px;border-bottom: 1px solid #ccc;height: 270px;text-decoration: underline;}
#wrap #modal .container .close-btn {width: 100px;height: 50px;border: 1px solid #ccc;margin: 15px 20px 15px 580px;cursor: pointer;}